USE [master]
GO
/****** Object:  Database [PostComment]    Script Date: 26/03/2024 5:22:46 a. m. ******/
CREATE DATABASE [PostComment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PostComment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PostComment.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PostComment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PostComment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PostComment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PostComment]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[PostId] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Body] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[UserId] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Body] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Contraseña] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Comments] ([PostId], [Id], [Name], [Email], [Body]) VALUES (18, 4, N'aut et tenetur ducimus illum aut nulla ab', N'Vincenza_Klocko@albertha.name', N'veritatis voluptates necessitatibus maiores corrupti
neque et exercitationem amet sit et
ullam velit sit magnam laborum
magni ut molestias')
INSERT [dbo].[Comments] ([PostId], [Id], [Name], [Email], [Body]) VALUES (19, 4, N'sed impedit rerum quia et et inventore unde officiis', N'Madelynn.Gorczany@darion.biz', N'doloribus est illo sed minima aperiam
ut dignissimos accusantium tempore atque et aut molestiae
magni ut accusamus voluptatem quos ut voluptates
quisquam porro sed architecto ut')
INSERT [dbo].[Comments] ([PostId], [Id], [Name], [Email], [Body]) VALUES (20, 4, N'molestias expedita iste aliquid voluptates', N'Mariana_Orn@preston.org', N'qui harum consequatur fugiat
et eligendi perferendis at molestiae commodi ducimus
doloremque asperiores numquam qui
ut sit dignissimos reprehenderit tempore')
GO
INSERT [dbo].[Posts] ([UserId], [Id], [Title], [Body]) VALUES (1, 1, N'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', N'quia et suscipit
suscipit recusandae consequuntur expedita et cum
reprehenderit molestiae ut ut quas totam
nostrum rerum est autem sunt rem eveniet architecto')
INSERT [dbo].[Posts] ([UserId], [Id], [Title], [Body]) VALUES (1, 2, N'qui est esse', N'est rerum tempore vitae
sequi sint nihil reprehenderit dolor beatae ea dolores neque
fugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis
qui aperiam non debitis possimus qui neque nisi nulla')
INSERT [dbo].[Posts] ([UserId], [Id], [Title], [Body]) VALUES (1, 3, N'ea molestias quasi exercitationem repellat qui ipsa sit aut', N'et iusto sed quo iure
voluptatem occaecati omnis eligendi aut ad
voluptatem doloribus vel accusantium quis pariatur
molestiae porro eius odio et labore et velit aut')
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Usuario], [Contraseña]) VALUES (1, N'jairo.sanabria', N'123456')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteComment]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteComment]
(
  @comentid int
)
AS
BEGIN
    delete from Comments where Id = @comentid
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePost]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_DeletePost]
(
  @postid int
)
AS
BEGIN
    delete from Posts where PostId = @postid
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertComments]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertComments]
(
	@comentid int,
    @postid int,
    @name nvarchar(60),
	@email nvarchar(60),
	@body nvarchar(max)
)
AS
BEGIN
    insert into Comments(Id,PostId,Name,Email,Body) values (@comentid,@postid,@name,@email,@body);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPost]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertPost]
(
	@userid int,
    @postid int,
    @title nvarchar(60),
	@body nvarchar(max)
)
AS
BEGIN
    insert into Posts(UserId,Id,Title,Body) values (@userid,@postid,@title,@body);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListComment]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_ListComment]
AS
BEGIN
    select * from Comments
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListCommentxPost]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListCommentxPost]
(
 @postid int
)
AS
BEGIN
    select Id,p.PostId,Name,Email,c.Body as BodyComment,UserId,Title,p.Body as BodyPost from Comments c inner join Posts p on c.PostId = p.PostId where p.PostId = @postid
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListPost]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_ListPost]
AS
BEGIN
    select * from Posts
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerComment]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_ObtenerComment]
(
 @comentid int
)
AS
BEGIN
    select * from Comments where ComentId = @comentid
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPost]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerPost]
(
 @idpost int
)
AS
BEGIN
    select * from Posts where Id = @idpost
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateComments]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateComments]
(
	@comentid int,
    @postid int,
    @name nvarchar(60),
	@email nvarchar(60),
	@body nvarchar(max)
)
AS
BEGIN
    update Comments set PostId = @postid, Name = @name, Email = @email, Body = @body where Id = @comentid
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePost]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePost]
(
	@userid int,
    @postid int,
    @title nvarchar(60),
	@body nvarchar(max)
)
AS
BEGIN
    update Posts set UserId = @userid,Title = @title, Body = @body where Id = @postid
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarUsuario]    Script Date: 26/03/2024 5:22:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_ValidarUsuario]
(
  @usuario nvarchar(50)
)
AS
BEGIN
    select Usuario, Contraseña from Usuario where Usuario = @usuario
END
GO
USE [master]
GO
